.footer {
  /* color: #7b7b7b; */
  text-align: center;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #737373;
  text-decoration: none;
  width: 10%;
  align-self: center;
  margin-top: 1rem;
}

.footer img {
  width: 30px;
  height: 30px;
}

.footer p a:hover{
  font-weight: bold;
}

.copy-terms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}