.footer {
  background-color: rgba(218, 218, 218, 0.75);
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #737373;
  text-decoration: none;
  width: 10%;
  align-self: center;
}

.footer img {
  width: 30px;
  height: 30px;
  margin-top: 0.2rem;
}

.footer p a:hover{
  font-weight: bold;
}

.copy-terms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.copy-terms a{
  margin-left:0.7rem ;
}
